* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #110505;
    text-align: center;
    overflow: hidden;

}

<<<<<<< HEAD
h1 {
    color: chartreuse;
=======
 h1{
    color:rgba(128, 255, 0, 0.686);
>>>>>>> 221e09565b1791f75999a3cbc53ff2ccef9944c8
    text-align: left;
    margin-left: 1vw;
    margin-top: 1vw;
    text-decoration: underline;
    font-size: 2rem;
}

.links {
    position: absolute;
    top: 10px;
    right: 10px;
}

.links p {
    font-size: 1.5rem;
    color: yellow;
}
.links p a{
    color: red;
    font-size: 1.5rem;
    text-decoration: none;
}
.links p a:hover{
    color: green;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 1vw;
}
.hero {
    position: relative;
    height:5vw!important;
    width: 70vh;
    top: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.box {
    height: 6vw;
    width: 6vw;
    background-color: rgba(20, 182, 203, 0.98);
    border-radius: 10px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
}
#btn {
    padding: 1vw;
    width: 15vw;
    border-radius: 30px;
    background-color: rgba(0, 255, 255, 0.205);
    color: yellow;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    bottom: 2vw;
    position: relative;
    text-align: center;
}
#btn:hover{
    color:rgb(220, 33, 220);
    font-weight: bold;
    box-shadow: 0 0 10px yellow,0 0 20px yellow;
}
.msg {
    color: aqua;
    font-size: 2.3rem;
    position: relative;
    display: inline;
}
.hide {
    display: none;
}